X_API_KEY=*********************
API_TOKEN=**********:***********************************

BOT_API_URL_UPLOAD=http://127.0.0.1:9000/send-update
BOT_API_URL_SEND=http://127.0.0.1:9000/send-signal

ALLOWED_IDS=*********,**********

HOST=127.0.0.1
PORT=9000